//use Roboto font
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body input,
body button,
body select,
body textarea {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

.list-controls .select-kit {
  & .select-kit-header {
    text-transform: lowercase;
  }

  & .select-kit-header.is-focused, & .select-kit-collection {
    background: white;
    font-size: 1rem;
  }

  & .select-kit-filter {
    font-size: 1rem;
  }
}

#create-topic.btn {
  font-weight: bolder;
}

.combo-box.group-category-dropdown,
.combo-box.group-dropdown,
.combo-box.category-drop {

  .combo-box-header {
    font-weight: bolder;
    background: $tertiary;
    border-color: $tertiary;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}
#reply-control {
  background: #ffffff;
}

.menu-panel, .bootbox.modal, .modal-inner-container, .admin-detail,
.d-header-icons .icon:hover, .d-header-icons .icon:focus,
.drop-down-mode .d-header-icons .active .icon {
  background: #ffffff;
}

.boxed.white {
  background: #ffffff !important;
}

.user-main, .admin-content {
  padding: 1em;
  background: #ffffff;
}

.user-main .about.no-background .details,
.user-menu .notifications li.read,
.user-stream .item {
  background: transparent;
}

#main-outlet > br {
  display: none;
}

div[itemprop=mainContentOfPage] {
  background: #ffff;
  padding: 1rem;
  margin-bottom: 2rem;
  @include boxShadow;
}
