@function text-contrast($n) {
  $color_brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light_color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color_brightness) < ($light_color/2){
    @return white;
  }
  @else {
    @return black;
  }
}

$panel_color: $primary;
$panel_background: text-contrast($panel_color);

//use Roboto font
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: $secondary;
}

body input,
body button,
body select,
body textarea {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
  border-radius: 2px;
  @include boxShadow;
}

.list-controls .select-kit {
  & .select-kit-header.is-none {
    text-transform: lowercase;
  }

  & .select-kit-header.is-focused, & .select-kit-collection {
    background: white;
    font-size: 1rem;
  }

  & .select-kit-filter {
    font-size: 1rem;
  }
}

#create-topic.btn {
  font-weight: bolder;
}

.combo-box.group-category-dropdown,
.combo-box.group-dropdown,
.combo-box.category-drop {

  .combo-box-header {
    font-weight: bolder;
    background: $tertiary;
    border-color: $tertiary;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

//No more image cropping
#reply-control .d-editor-preview img:not(.thumbnail):not(.emoji),
.cooked img:not(.thumbnail):not(.emoji) {
  max-width: 100% !important;
  height: auto;
}
#reply-control {
  background: $panel_background;
  color: $panel_color;
}

.menu-panel, .bootbox.modal, .modal-inner-container, .admin-detail,
.d-header-icons .icon:hover, .d-header-icons .icon:focus,
.drop-down-mode .d-header-icons .active .icon {
  background: $panel_background;
  color: $panel_color;
}

.boxed.white {
  background: $panel_background !important;
  color: $panel_color;
}

.user-main, .admin-content {
  padding: 1em;
  background: $panel_background;
  color: $panel_color;
}

.latest-topic-list .no-topics {
  text-align: center;
  margin-top: 0;
  padding: 1em;
}

.user-main .about.no-background .details,
.user-menu .notifications li.read,
.user-stream .item {
  background: transparent;
}

#main-outlet > br {
  display: none;
}

.user-stream, .groups-form, div[itemprop=mainContentOfPage] {
  background: #ffff;
  padding: 1rem;
  margin-bottom: 2rem;
  @include boxShadow;
}

.category-navigation > .category-breadcrumb {

  .select-kit.is-expanded {
    z-index: 100;
  }

  &:not(:first-of-type) {
    position: relative;
    margin-right: 7px + 5px;

    &:before {
      content: "";
      border: 3px solid $header_background;
      position: absolute;
      top: -7px;
      bottom: -7px;
      left: -7px;
      right: -7px;
    }

    .bread-crumbs-right-outlet:empty {
      display: none;
    }

    & > .category-drop {
      position: relative;

      &:last-of-type {
        margin-right: 0 !important;
      }

      & > .combo-box-header {
        position: relative;
        z-index: 200;
      }
    }

    & > .category-drop:not(:last-of-type) {
      position: relative;

      &.is-focused:after {
        background: white;
      }

      &:after {
        content: "";
        z-index: 150;
        position: absolute;
        left:  calc(100% - 0.3rem);
        top: 50%;
        height: 1.5rem;
        width: 1.5rem;
        background: $tertiary;
        transform: rotate(45deg);
        transform-origin: top right;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
    }

    & > .category-drop:not(:first-of-type) {
      position: relative;
      margin-right: 0;
      margin-left: 0.2rem;
      padding-left: 1.1rem;
      background: $tertiary;

      &.is-focused {
        background: white;
      }

      &:before {
        content: "";
        z-index: 50om;
        position: absolute;
        right: calc(100% - 1rem);
        top:50%;
        height: 1.1rem;
        width: 1.1rem;
        border: 3px solid $secondary;
        background: $secondary;
        transform: rotate(45deg);
        transform-origin: top right;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}
