@function text-contrast($n) {
  $color_brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light_color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color_brightness) < ($light_color/2){
    @return white;
  }
  @else {
    @return black;
  }
}

@mixin boxShadow {
  box-shadow: 0 0 15px 5px rgba(black, .2);
}

@mixin buttonShadow {
  box-shadow: 0 0 5px 0 rgba(black, .3);
}

@mixin buttonTransition {
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s,
    visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s,
    background-color 2s, transform 0.5s;
}

$panel-bg: darken($header_background, 5%);
$panel-color: text-contrast($panel-bg);
$panel-border-color: rgba(text-contrast($panel-bg), .2);
$panel-border-radius: .3em;

@keyframes topic-body-fade-highlight {
  0% {
    background-color: $highlight;
    color: text-contrast($highlight);
  }
  100% {
    background-color: #fff;
    color: #333;
  }

}

@keyframes background-fade-highlight {
  0% {
    background-color: $highlight;
    color: text-contrast($highlight);
  }
  100% {
    background-color: $panel-bg;
    color: $panel-color;
  }
}


.category .category-title-link .category-logo img {
  max-width: 100%;
  height: auto;
}

.category-heading {
  display: flex;

  .category-logo-show {
    margin: 0.25em 1em 1em 0;
    max-width: 330px;
    max-height: none;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  & > p {
    margin-top: 0;
  }
}

// scrolling tracker colors
.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: text-contrast($secondary);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: text-contrast($secondary);
}



//add shadow behind the list of topics on right in Category and Latest View
//add shadow behind list of categories on left in Category and Latest View
//add shadow behind topics in Latest view
.category-list,
.topic-list,
.latest-topic-list,
.group-members {
  background-color: $panel-bg;
  color: $panel-color;
  border-radius: $panel-border-radius;
}

.latest-topic-list .table-heading,
.category-list thead tr {
  color: $panel-color;
  border-bottom: 3px solid $panel-border-color;
}

.latest-topic-list .no-topics {
  white-space: nowrap;
}

table.group-members {
  margin-top: 1rem;

  th, tr td {
    padding: 12px 5px;
  }
}

//underline navigation links
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  font-weight: 600;
  background-color: $secondary;
  color: text-contrast($secondary);
  border-bottom: 1px solid $tertiary;
}

.nav-pills > li > a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 3px;
  color: text-contrast($secondary);

  .admin-controls &, .user-main &:not(.active) {
    color: #333;
  }
}

//remove highlighting navigation background on hover
.nav-pills > li > a:hover {
  background-color: $secondary;
  color: text-contrast($secondary);
}

//fix color of user profile navigation icons
.user-main .nav-pills {

  a.active i {
    color: $primary;
  }

  a:hover:not(.active) i {
    color: $quaternary;
  }
}

#topic-title h1 a {
  color: text-contrast($secondary);
}

//create conversation cards
.boxed .topic-body {
  @include boxShadow;
  background-color: #fff;
  color: #333;
  margin-top: 10px;
  border-radius: 2px;
  padding: 12px 20px 0 20px;
  border: 0;

  a {
    color: #333;
  }

  &.highlighted {
      animation: topic-body-fade-highlight 2.5s ease-out;
  }
}

//more space for avatars
.topic-avatar {
  border-top: 0;
  padding-right: 10px;
  .avatar-flair {
    right: 4px;
  }
}

//remove stray border from bottom of last post
.topic-status-info {
  border-top: 0;
}

//improve format of embedded posts
.embedded-posts .topic-avatar {
  padding-left: 0px;
}

.embedded-posts.top.topic-body {
  box-shadow: none;
  background-color: $secondary;
}

//darken color, remove shadow and border when pressed
.btn:active {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}

//Reply Fab
.timeline-footer-controls {
  position: relative;
}

.widget-button.btn.create {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: -18px;
  z-index: 300;
  background-color: $tertiary;
  color: #fff;
  @include buttonShadow;
  overflow: hidden;
  width: 60px;
  height: 60px;
  @include buttonTransition;

  .d-icon {
    color: #fff;
  }
}

//Increase size of reply icon
.widget-button.btn.create .fa-reply {
  color: $secondary;
  font-size: 20px;
}

//Proper spacing for iPad portrait
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
  .topic-admin-popup-menu {
    left: -40% !important;
  }
}

//Properly space notifications button
.widget-button.btn.notifications-dropdown {
  right: 4px;
  position: relative;
  border-radius: 40px;
  width: 30px;
  padding: 6px;
}

//cards for search results
.fps-result {
  @include boxShadow;
  background-color: $panel-bg;
  color: $panel-color;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;

  a, a:visited, & .search-link .topic-title {
    color: $panel-color;
  }

  .search-highlight {
    background: $highlight;
    color: text-contrast($highlight);
  }
}

// clipped user page button shadows
.user-main .about .controls {
  padding-right: 10px;
}

// RTL Overrides
.rtl {
  .topic-avatar {
    padding-right: initial;
    padding-left: 10px;
    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }
  .embedded-posts .topic-avatar {
    padding-left: initial;
    padding-right: 0;
  }
  #create-topic.btn-default {
    right: initial;
    left: 50px;
  }
  .widget-button.btn.create {
    left: initial;
    right: -18px;
  }
  .widget-button.btn.notifications-dropdown {
    right: initial;
    left: 4px;
  }
  .user-main .about .controls {
    padding-right: initial;
    padding-left: 10px;
  }
}

.d-icon.d-icon-d-tracking,
.d-icon.d-icon-d-watching {
  color: #ffb300;
}

// RTL Overrides
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .rtl {
    .timeline-container {
      margin-left: initial;
      margin-right: 820px;
    }
    .topic-admin-popup-menu {
      left: initial !important;
      right: -40% !important;
    }
  }
}
